.tree-display-area {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
    margin-top: 270px;
    cursor: pointer; 
}

.main-tree-img {
    width: 130%;
    height: 130%;
    object-fit: contain;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.2));
    transition: transform 0.3s ease; 
    transform-origin: bottom center; 
}

.tree-display-area:hover .main-tree-img {
    animation: scaleBounce 0.7s ease-in-out;
}

@keyframes scaleBounce {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1); 
    }
    70% {
        transform: scale(0.95); 
    }
    100% {
        transform: scale(1);
    }
}

.tree-decor {
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.3s;
    animation: glowPulse 2s infinite alternate;
    z-index: 20;
}

.tree-decor:hover {
    transform: scale(1.4);
    z-index: 30;
}

.decor-tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.98);
    color: #003366;
    padding: 10px 15px;
    border-radius: 10px;
    width: max-content;
    max-width: 250px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    pointer-events: none;
}

.tree-decor:hover .decor-tooltip {
    opacity: 1;
    visibility: visible;
}

.decor-user {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    color: #d35400;
}

@keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 2px gold);
        transform: scale(1);
    }
    100% {
        filter: drop-shadow(0 0 8px #ffeb3b);
        transform: scale(1.1);
    }
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 
         
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}