.flying-image {
	position: fixed;
	z-index: 9999;
	border-radius: 5px;
	object-fit: cover;
	transition:
		left 0.6s cubic-bezier(0.3, 0.27, 0.07, 1),
		top 0.6s cubic-bezier(0, 0.8, 0.6, 1),
		width 0.6s ease-in-out,
		height 0.6s ease-in-out,
		opacity 0.6s ease-out,
		transform 0.6s ease;
	background-color: var(--clr-card-bg);
}

@media (max-width: 48rem) {
	.flying-img {
		width: 3.75rem !important;
		height: 3.75rem !important;
	}
}
