.full-page-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-background);
	z-index: 100000;
	color: var(--clr-text);
}

.loading-gif {
	width: 150px;
	height: 150px;
	object-fit: contain;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;
	transform: scaleX(-1);
}

@keyframes dot-bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-8px);
	}
}

.bouncing-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin-top: 1rem;
	height: 40px;
}

.dot {
	width: 8px;
	height: 8px;
	margin: 0 4px;
	background-color: var(--clr-primary);
	border-radius: 50%;
	animation: dot-bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}
.dot:nth-child(2) {
	animation-delay: 0.15s;
}
.dot:nth-child(3) {
	animation-delay: 0.3s;
}
