.full-page-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-background);
	z-index: 100000;
	color: var(--clr-text);
}

.loading-gif {
	width: 9.375rem;
	height: 9.375rem;
	object-fit: contain;
	border-radius: 50%;
	box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;
	transform: scaleX(-1);
}

@keyframes dot-bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.5rem);
	}
}

.bouncing-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin-top: 1rem;
	height: 2.5rem;
}

.dot {
	width: 0.5rem;
	height: 0.5rem;
	margin: 0 0.25rem;
	background-color: var(--clr-primary);
	border-radius: 50%;
	animation: dot-bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}
.dot:nth-child(2) {
	animation-delay: 0.15s;
}
.dot:nth-child(3) {
	animation-delay: 0.3s;
}

@media (max-width: 30rem) {
	.loading-content h3 {
		font-size: 1.2rem;
	}

	.loading-spinner {
		width: 3rem;
		height: 3rem;
	}
}
