.toast-notification {
	visibility: hidden;
	min-width: 15.625rem;
	margin-left: -7.8125rem;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: var(--border-radius);
	padding: 1rem;
	position: fixed;
	z-index: 99999;
	left: 50%;
	bottom: 1.875rem;
	font-size: 1.0625rem;
	opacity: 0;
	transition:
		opacity 0.5s,
		bottom 0.5s,
		background-color 0.2s;
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
}

.toast-notification.show {
	visibility: visible;
	opacity: 1;
	bottom: 3.125rem;
}

.toast-notification.success {
	background-color: var(--clr-success-bg);
	color: var(--clr-success-text);
	border-color: var(--clr-success-text);
}

.toast-notification.error {
	background-color: var(--clr-error-bg);
	color: var(--clr-error-text);
	border-color: var(--clr-error-text);
}

.toast-notification.info {
	background-color: var(--clr-info-bg);
	color: var(--clr-info-text);
	border-color: var(--clr-info-text);
}

.toast-notification.warning {
	background-color: var(--clr-warning-bg);
	color: var(--clr-warning-text);
	border-color: var(--clr-warning-text);
}

html[data-theme='light'] .toast-notification.warning {
	color: #333;
}

@media (max-width: 48rem) {
	.notification-toast-container {
		top: 1rem;
		right: 1rem;
		left: 1rem;
		width: auto;
		max-width: none;
	}
}
